
body
{
	font-family: 'droid_sansregular';
	color: #C8C8C8;
	background-color: #00003D;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
#emScale, #emScale10, #pxScale, #pxScale10
{
	display: none;
	position: fixed;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 5px;
}
#emScale
{
	top: 0px;
	background-image: repeating-linear-gradient(to right, #000, #000 0.95em, #fff 0.95em, #fff 1em);
}
#emScale10
{
	top: 5px;
	background-image: repeating-linear-gradient(to right, #000, #000 9.95em, #fff 9.95em, #fff 10em);
}
#pxScale
{
	top: 10px;
	background-image: repeating-linear-gradient(to right, #000, #000 9px, #ff0 9px, #ff0 10px);
}
#pxScale10
{
	top: 15px;
	background-image: repeating-linear-gradient(to right, #000, #000 99px, #ff0 99px, #ff0 100px);
}
#mainFrame
{
	display: inline-block;
	margin: 0px;
	text-align: center; 
}
.hlayer
{
	margin: 0px;
	padding: 0px;
	text-align: center; 
	overflow: auto;
}
.menuHLayer
{
	display: block;
	padding: 0px;
	/* border: 1px solid #0000FF; */
	overflow: auto;
}
#_mainMenu
{
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0px;
	border-radius: 10px;
}
#rollDownMenu
{
	display: none;
}
.contentLayer
{
	margin: 30px 0px 0px 0px;
	padding: 0px;
	/* border: 1px solid #FF0000; */
	overflow: auto;
}
.contentLayer:first-of-type
{
	margin-top: 0px;
}
.contentLayer p:first-child
{
	margin-top: 0px;
}
#cadTitle
{
	font-size: 2.5em;
}
.slogan
{
	font-size: 1.3em;
	font-style: italic;
}
#cadSubTitle
{
	/* padding: 0px 3px; */
	/* border-radius: 5px; */
	/* color: #00003D; */
	/* background-color: #C8C8C8; */
	font-size: 1.3em;
	font-style: italic;
}
#checkeredHolder
{
	display: block;
}
.lightBackground
{
	padding: 0px;
	background-color: #0000B7;
	border-radius: 40px;
}
.leftTitle, .centerTitle
{
	font-size: 2.5em;
}
.centerTitle, .centerText
{
	text-align: center;
}
.leftTitle
{
	text-align: left;
}
.centerSubTitle
{
	font-size: 1.75em;
	text-align: center;
}
.leftSubTitle
{
	font-size: 1.75em;
	text-align: left;
}
.leftContent
{
	text-align: left;
	margin: 30px 0px 0px 0px;
}
.raisons .leftContent
{
	text-align: left;
	margin: 0px;
}
.raisons .leftContent div
{
	margin: 0px 0px 22px 0px;
}
a
{
	color: inherit;
	text-decoration: none;
}
#popupPlusDinfos a
{
	text-decoration: underline;
}
ul
{
	margin: 0px;
}
li:not(:first-child)
{
	margin: .7em 0px 0px 0px;
}
.verticalCenter
{
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.columntext
{
	-moz-column-count:4; /* Firefox */
	-webkit-column-count:4; /* Safari and Chrome */
	column-count:4;
	-moz-column-gap:20px; /* Firefox */
	-webkit-column-gap:20px; /* Safari and Chrome */
	column-gap:20px;
	-moz-column-rule:1px none #000000; /* Firefox */
	-webkit-column-rule:1px none #000000; /* Safari and Chrome */
	column-rule:1px none #000000;
}
.columntext p:first-child
{
	margin-top: 0px;
}
.bosse
{
	display: block;
	padding: 9px;
	border: 1px solid #C8C8C8;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
}
.flowAroundIt
{
	position: relative;
	display: inline-block;
	float: left;
}
.accent
{
	/* color: #FFFFFF; */
	font-weight: bold; 
}
#bosseDeMath .flowAroundIt
{
	position: relative;
	width: 5.3em;
	top: .2em;
	margin: 0px 20px 20px 0px;
	padding: 9px;
	border: 1px solid #C8C8C8;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
}
#bosseDeMath p:not(.signature)
{
	text-align: justify;
}
.signature
{
	font-style: italic;
	text-align: right;
}
#bosseDeMath p:first-of-type
{
	margin-top: 0px;
}
.commonFlow div
{
	margin: .6em 0em 0em 0em;
}
.commonFlow div.topOne
{
	margin-top: 0em;
}
.commonFlow p
{
	margin: .6em 0em 0em 0em;
}
.commonFlow div.bulleted p
{
	margin: .15em 0em 0em 0em;
}
.underButton.butDevenirCoach
{
	display: inline-block;
	float: none;
	margin: 2em;
}
br.editDeco
{
	margin: 0px;
	padding: 0px;
	height: 0px;
}
.underButton.editButton
{
	display: none;
	background-color:#FF8080;
	background-image: linear-gradient(to bottom, #FF8080, #784040);
	background: -webkit-linear-gradient (top, #FF8080, #784040);
}
.underButton.editButton:hover
{
	background-image: linear-gradient(to bottom, #FFB0B0, #784040);
	background: -webkit-linear-gradient(top, #FFB0B0, #784040);
}
#editMenuLayer.hlayer
{
	margin: 0px;
	padding: 0px;
}
form
{
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	margin-top: 30px;
	overflow: auto;
}
.fieldRow
{
	clear: left;
	margin: 0px;
	padding: .3em;
}
.fieldRow label, .fieldRow input, .fieldRow textarea
{
	display: block;
	float: left;
	box-sizing: border-box;
}
.fieldRow label
{
	width: 30%;
}
.fieldRow input:not([type="submit"]), .fieldRow textarea
{
	width: 69%;
}
.fieldRow .underButton
{
	border-style: none;
	margin: 0px;
	color: #C8C8C8;
}
textarea.editArea
{
	display: block;
	box-sizing: border-box;
	width: 95%;
	z-index: 5;
}
#iframePrendre, #iframeCoach, #iframePlus, #iframeStage
{
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-radius: 10px;
	border-style: none;
	overflow: auto;
}
.iframeHolder
{
	display: inline-block;
	box-sizing: border-box;
	margin: 3em 0px 0px 0px;
	padding: 0px;
	overflow: auto;
}
@media (min-width: 913px) { .iframeHolder { width: 100%; } .underButton.directLink{display: none;} }
@media (max-width: 912px) and (min-width: 801px) { .iframeHolder { width: 788px; } .underButton.directLink{display: none;}}
@media (max-width: 800px) and (min-width: 701px) { .iframeHolder { width: 688px; } .underButton.directLink{display: none;}}
@media (max-width: 700px) and (min-width: 601px) { .iframeHolder { width: 588px; } .underButton.directLink{display: none;}}
@media (max-width: 600px) and (min-width: 501px) { .iframeHolder { width: 488px; } .underButton.directLink{display: none;}}
@media (max-width: 500px) and (min-width: 441px) { .iframeHolder { width: 428px; } .underButton.directLink{display: none;}}
@media (max-width: 440px) and (min-width: 321px) { .iframeHolder { width: 308px; } .underButton.directLink{display: none;}}
@media (max-width: 320px){ .iframeHolder { width: 307px; } .underButton.linkUsingIframe{display: none;}}
iframe
{
	padding: 0px;
	margin: 0px;
}
#contactDetails
{
	vertical-align: top;
}
.contactHolder
{
	display: inline-block;
	width: 10em;
	font-size: 1.3em;
	margin: 0em .5em;
	color: #0000F4;
	text-align: center;
	vertical-align: top;
}
.contactIcon
{
	font-size: 4em;
	margin-bottom: 2em;
}
.menuItem, .underButton
{
	display: block;
}
div.ib, div.cell
{
	margin: 0px;
	padding: 0px;
}
.discrete
{
	font-size: .7em;
	color: #5050C0;
	font-style: italic;
	text-align: right;
}
.subTitleBox
{
	border-radius : 6px;
}
#stbox1, #stbox2, #stbox3, .underButton
{
	opacity: 0;
}
#stbox1
{
	background-color: #6060BD;
}
#stbox2
{
	background-color: #969696;
	color: #00003D;
}
#stbox3
{
	background-color: #0000B7;
}
.noBottomMargin
{
	margin-bottom: 0px;
}
#popupPlusDinfos
{
	display: none;
	z-index: 10;
	position: fixed;
	right: 10%;
	border: 1px solid #C8C8C8;
	background-color: #00003D;
	margin: 5px;
	padding: 1.1em;
}
.bottomRightButton
{
	float: right;
	border: 1px solid #C8C8C8;
	padding: .4em;
	margin : 1.1em 0px 0px 0px;
}
#fleeceUnderModal
{
	display: none;
	z-index: 9;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	opacity: .4;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
#homeLink
{
	display: none;
}
#prendrecours #homeLink
{
	display: inline-block;
}
.hideIfLarge
{
	display: none;
}
#mainFrame
{
	box-sizing: content-box;
	width: 57em;
}
#emptyBottom
{
	display: block;
	height: 40px;
}
#topMenuLayer
{
	display: block;
}
#bottomMenuLayer
{
	display: none;
}
#topRibbon
{
	display: none;
}
#menuBlock
{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	/* border: 1px solid #FF0000; */
	overflow: auto;
}
.menuHLayer
{
	margin: 20px 0px;
}
html#paiement #menu02
{
	display: none;
}
.menuItem
{
	/* display: block; */
	float: left;
	font-size: 1.2em;
	/*
		horizontal padding : 17 if having FAQ menu item, 24 without it.
	*/
	padding: 10px 24px;
	margin: 0px;
	border: none;
	border-radius: 0px;
	background-color: #C8C8C8;
	background-image: linear-gradient(to bottom, #C8C8C8, #646464);
	background: -webkit-linear-gradient(top, #C8C8C8, #646464);
	color: #00003D;
}
.menuItem:not(:first-child)
{
	border-left: 2px solid #00003D;
}
.menuItem:first-child
{
	border-radius: 10px 0px 0px 10px;
}
.menuItem:last-child
{
	border-radius: 0px 10px 10px 0px;
}
.menuItem:hover
{
	background-image: linear-gradient(to bottom, #FAFAFA, #646464);
	background: -webkit-linear-gradient(top, #FAFAFA, #646464);
}
#buttonsUnderMenu
{
	display: inline-block;
	float: right;
	overflow: auto;
}
.underButton
{
	display: inline-block;
	margin: 0px 0px 0px 20px;
	padding: 5px 10px;
	border-radius: 100px;
	background-color:#8080FF;
	background-image: linear-gradient(to bottom, #8080FF, #404078);
	background: -webkit-linear-gradient(top, #8080FF, #404078);
	/*
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*/
}
.underButton:hover
{
	background-image: linear-gradient(to bottom, #B0B0FF, #404078);
	background: -webkit-linear-gradient(top, #B0B0FF, #404078);
}
#checkeredLayer
{
	position: relative;
	top: -43px;
	}
.checkered
{
	display: table;
	padding: 0px;
}
.checkeredRow
{
	display: table-row;
	padding: 0px;
	margin: 0px;
}
.checkeredCell
{
	display: table-cell;
	box-sizing: border-box;
	width: 50%;
	margin: 0px;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	/* border: 1px solid #5050FF; */
}
.checkeredCell.centered
{
	text-align: center;
}
.checkeredCell > *
{
	margin: 0px 0px 1em 0px;
	padding: 0px;
}
.checkeredCell img
{
	display: inline;
	width: 300px;
	height: 300px;
}
#coursInfoLeft
{
	width: 600px;
}
.leftPart
{
	float: left;
	box-sizing: border-box;
	overflow: auto;
}
.rightPart
{
	float: right;
	box-sizing: border-box;
	margin: 0px;
	overflow: hidden;
}
.raisons
{
	display: table;
}
#raisonsRow
{
	display: table-row;
}
#imgPqNousHolder, #sevenReasons
{
	display: table-cell;
	width: 48%;
	vertical-align: middle;
}
#imgPqNousHolder
{
	padding: 0px;
	vertical-align: middle;
}
#imgPqNousHolder img
{
}
#videoHolder div
{
	text-align: justify;
}
#videoHolder iframe
{
	position: relative;
	top: .2em;
}
#pasEnMontrant
{
	box-sizing: border-box;
	width: 468px; /* 909px - 420px -21px */
}
#pasEnMontrant div:not(:first-child)
{
	margin: 10px 0px 0px 0px;
}
.commonFlow .flowAroundIt
{
	float: right;
	top: .6em;
	margin: 0px 20px 20px 0px;
}
#backButtonHolder
{
	border-radius: 10px;
}
#iframePrendre
{
	height: 80em;
}
#iframePlus
{
	height: 59em;
}
#iframeCoach
{
	height: 98em;
}
#iframeStage
{
	height: 76em;
}
#indexSmallUnderButtons
{
	display: none;
}
.standOut
{
	background-color: #0000B7;
}
.txtPrendreCours:before
{
	content: "DEELNEMEN";
}
.txtPlusDInfos:before
{
	content: "MEER INFO";
}
.txtHome:before
{
	content: "TERUG";
}
#subTitleTableHolder
{
	margin: -1em 0px;
}
#cadSubTitle
{
	display: table;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 1em;
	padding: 20px 0px;
}
.subTitleBox
{
	text-align: center;
	display: table-cell;
	padding: .3em;
	transform: rotate(-5deg);
	box-shadow: 8px 12px 10px 1px #000000;
}
#popupPlusDinfos
{
	top: 10%;
}
