{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block navlinks %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{% url "home" %}">Accueil</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="home">
        <div class="container">
            <h1 class="mb-0">
                Ajouter un <span class="text-primary">cours</span>
            </h1>
            {% include 'messages.html' %}
            {% crispy form form.helper %}
        </div>
    </section>
</div>
{% endblock %}
