{% extends 'base.html' %}

{% load static %}

{% block navlinks %}
<ul class="navbar-nav">
    <li class="nav-item mb-1">
        <a href="{% url "home" %}" class="nav-link js-scroll-trigger">Accueil</a>
    </li>
    <li class="nav-item mb-1">
        <a href="{% url "registerUser" %}?type=a" class="nav-link js-scroll-trigger">Inscription <br/>(nouvel étudiant)</a>
    </li>
    <li class="nav-item mb-1">
        <a href="{% url "registerUser" %}?type=b" class="nav-link js-scroll-trigger">Inscription <br/>(nouveau coach)</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<section class="p-3 p-lg-5 d-flex align-items-center">
    <div class="container">
        <h1 class="mb-2 text-center">
            Connexion
        </h1>
        {% include 'messages.html' %}
        <br>
        <div id="ConnexionForm">
            <div class="container text-center" id="ConnexionForm">
                <div id="askmail" class="animated">
                    <div style="display: none;" id="mailerror" class="alert alert-danger" role="alert">
                        Aucun compte ne correspond à cette adresse mail
                    </div>
                    <h3>Entrez votre adresse mail</h3>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email_input" aria-describedby="emailHelp" placeholder="Adresse Mail">
                    </div>
                    <button class="btn btn-primary" onclick="getUsers()">Suivant</button>
                </div>

                <div class="animated" id="chooseAccountContainer" style="display: none;">
                    <p><span id="nbraccounts" class="text-primary"></span> comptes ont été trouvé avec cette adresse mail.</p>
                    <div id="chooseAccount" class="text-center">
                    </div>
                </div>

                <form method="post" action="" id="formlogin" class="animated" style="display: none;">
                    {% csrf_token %}
                    <h3>Connexion en tant que <span id="user_name" class="text-primary"></span></h3>
                    <input type="hidden" name="username" class="form-control" id="username">
                    <div class="form-group">
                        <label for="connexionPassword">Mot de Passe</label>
                        <div class="col-xs-4">
                            <input type="password" name="password" class="form-control" id="connexionPassword" placeholder="Mot de passe">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Suivant</button>
                </form>
            </div>
        </div>

        <p>Mot de passe oublié ? <a href="{% url "password_reset" %}">réinitialiser mon mot de passe</a></p>
    </div>
</section>
{% endblock %}

{% block extra_imports %}
<script>
    const MailCheckUrl = "{% url "api:users:get_users_mail" %}";
    const csrf_token = "{{ csrf_token }}";
</script>
<script src="{% static "js/login.js" %}"></script>
{% endblock %}
