{% extends 'base.html' %}

{% load static %}

{% block navlinks %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/" class="nav-link">Accueil</a>
        </li>
        <li class="nav-item">
            <a href="{% url "my_account" %}" class="nav-link">Mon compte</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <section class="p-3 p-lg-5 align-items-center">
        <div id="container">
            <h2>Mon Suivi</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Commentaires</th>
                    <th scope="col">Coach</th>
                    </tr>
                </thead>

                <tbody>
                    {% for followelement in followelement_set %}
                        <tr>
                            <td>{{ followelement.date|date:"d/m/Y - G:i" }}</td>
                            <td>{{ followelement.comments|safe }}</td>
                            <td>{{ followelement.coach }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}
