{% extends 'base.html' %}

{% load static %}
{% load requests_tags %}

{% block navlinks %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url "home" %}" class="nav-link">Accueil</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <section class="col-sm-12">
        {% if student_request.is_closed %}
            <div class="alert alert-warning" role="alert">
                Cette requête est fermée!
            </div>
        {% else %}
            <h2>{{ student.first_name }} {{ student.last_name }}</h2>

            <p>recherche des cours de:</p>
            <ul>
                {% if student.profile.Maths_course %}
                <li>Maths</li>
                {% endif %}

                {% if student.profile.Chimie_course %}
                <li>Chimie</li>
                {% endif %}

                {% if student.profile.Physique_course %}
                <li>Physique</li>
                {% endif %}

                {% if student.profile.Francais_course %}
                <li>Francais</li>
                {% endif %}
            </ul>

            <label class="col-sm-12 col-form-label">Tranches horaires de l'étudiant:</label>
            <textarea disabled class="col-md-12" rows="5">{{ student_request.student.profile.studentaccount.wanted_schedule }}</textarea>

            <p>Localité: {{student_request.student.profile.studentaccount.zip}} {{student_request.student.profile.studentaccount.ville}}</p>

            <label for="coach_schedule">Inscrivez ci-dessous l'horaire qui vous conviendrait (soyez précis !)</label><br/>

            {% if not request.user.username in coaches %}
                <textarea id="coach_schedule" class="col-md-12" rows="5" ></textarea>
            {% else %}
                <textarea id="coach_schedule" class="col-md-12" rows="5" disabled>{% coach_schedule coach student_request %}</textarea>
            {% endif %}
            <small style="color:red;" id="error_schedule"></small>

            {% if not request.user.username in coaches %}
            <div id="buttons">                
                <button type="button" class="btn btn-success" onclick="acceptRequest({{ student_request.id }}, 'true' , {{ coach.id }})" name="accept">Accepter l'offre</button>
                <button type="button" class="btn btn-danger" onclick="acceptRequest({{ student_request.id }}, 'false', {{ coach.id }})" name="refuses">Refuser l'offre</button>
            </div>
            {% endif %}


            <div id="dejarepondu">
                {% if request.user.username in coaches %}
                    <p style="color:red;">Merci d'avoir répondu à cette requête</p>
                {% endif %}
            </div>
        {% endif %}
    </section>
</div>
{% endblock %}

{% block extra_imports %}
<script>
    const Url = "{% url "api:users:manage_request" %}";
    const csrfToken = '{{ csrf_token }}';
</script>
<script src="{% static "js/requests.js" %}"></script>
{% endblock %}
