{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block navlinks %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url "home" %}" class="nav-link">Accueil</a>
        </li>
        {% if user.profile.account_type == "a" %}
        <li class="nav-item">
            <a href="{% url "follow_up" %}" class="nav-link">Mon suivi</a>
        </li>
        {% elif user.profile.account_type == "b" %}
        <li class="nav-item">
            <a href="{% url "my_students" %}" class="nav-link">Mes étudiants</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
<div class="container-fluid p-0">

    <section class="p-3 p-lg-5 d-flex align-items-center">
        <div class="container-fluid">
            {% if not user.profile.verifiedAccount %}
            <div class="alert alert-warning text-center" role="alert">
                N'oubliez pas de vérifier vos mails pour confirmer votre compte!
            </div>
            {% endif %}

            <h2 class="mb-2">
                Mon profil:
            </h2>
            <div class="subheading mb-1">
                {{ user.first_name }} {{ user.last_name }}, <span style="color: red;">{{ user.profile.get_account_type_display }}</span>
            </div>

            <div class="container-fluid">
                <div class="row col-lg-12">
                    <!-- User's informations -->
                    <div class="col-md-8">
                        {% crispy form form.helper %}
                    </div>
                    <!-- Notifications -->
                    <div class="col-md-4">
                        <div class="jumbotron">
                            <h3 class="diplay-1">
                                Notifications
                            </h3>
                            <hr class="my-4">
                            <ul class="list-group">
                                {% for notification in notifications %}
                                    <li class="list-group-item" id="msg{{ notification.id }}">
                                        <div class="text-right">
                                            <button type="button" onclick="del_notif('{{ notification.id }}')" class="btn btn-danger">X</button>
                                        </div>
                                        <h3>{{ notification.author }}</h3>
                                        <h5>{{ notification.title }}</h5>
                                        <p> {{ notification.content|safe }}</p>
                                        <small>{{ notification.date_created|date:"SHORT_DATE_FORMAT" }}</small>
                                    </li>
                                {% empty %}
                                    <p>Pas de notifications</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="m-0">

</div>
{% endblock %}

{% block extra_imports %}
<script>
    const UrlNotif = "{% url "rm_notif" %}";
    const csrf_token = '{{ csrf_token }}';

    //Makes a request to remove the notification with the specified ID
    //Has to be an id related to the current user's notification
    function del_notif(notif_id){
        $.post(
            UrlNotif, {
                id: notif_id,
                csrfmiddlewaretoken: csrf_token
            },
            function(data, status) {
                if (status == "success") {
                    console.log("request successfully sent");
                } else {
                    console.log("request failed...");
                }
            }
        );
        document.getElementById("msg" + notif_id).style.display = "none";
    }
</script>
{% endblock %}
