<tr>
  <th scope="row">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  </th>
  {% for idl, level in field.field.choices %}
  <th scope="row">
    <label class="radio-inline">
      <input type="radio" name="{{ field.name }}" id="{{ field.id_for_label }}"
      value="{{ idl }}" {% if field.value == idl %}checked{% endif %}>
    </label>
  </th>
  {% endfor %} {% if form.errors %} {% for key, value in form.errors.items %} {%
  if key == field.name %}
  <th style="color: red">{{ value|safe }}</th>
  {% endif %} {% endfor %} {% endif %}
</tr>
