{% extends "groups/base.html" %}

{% load static %}

{% block content %}
	{% include "groups/navbar.html" %}
	{% include "groups/top_ribbon.html" %}
	<div class="hlayer" id="editMenuLayer">
		<a class="underButton editButton" id="downloadAnchor">télécharger le code</a>
		<a href="javascript:cad.prepEdit();" class="underButton editButton" id="editButton">éditer</a>
		<a href="javascript:cad.testEdit();" class="underButton editButton" id="testEditButton">tester</a>
		<a href="javascript:cad.saveEdit();" class="underButton editButton" id="saveButton">sauvegarder</a>
		<a href="javascript:cad.cancelEdit();" class="underButton editButton" id="cancelButton">annuler l'édition</a>
	</div>
	<div class="hlayer" id="content">
		<script src="{% static "groups/scripts/setTextOfIndex.js" %}" type="text/javascript"></script>
		<div id="cadSubTitle" class="contentLayer editable"></div>
		<div class="contentLayer centered hideIfLarge">
			<img src="{% static "groups/images/cad01blackBackTransp.png" %}"/>
		</div>
		<div class="contentLayer">
			<div id="checkeredHolder">
				<div class="checkered">
					<div class="checkeredRow">
						<div class="checkeredCell standOut">
							<h2 class="editable" id="leftCellTitle">
							</h2>
							<div class="editable" id="leftCellText">
							</div>
						</div>
						<div class="checkeredCell centered hideIfSmall" id="indexLogoHolder">
							<img src="{% static "groups/images/cad01blackBackTransp.png" %}"/>
						</div>
					</div>
					<div class="checkeredRow">
						<div class="checkeredCell centered">
							<img src="{% static "groups/images/readingHighRes.png" %}"/>
						</div>
						<div class="checkeredCell standOut">
							<h2 class="editable" id="rightCellTitle">
							</h2>
							<div class="editable" id="rightCellText">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contentLayer" id="indexSmallUnderButtons">
			<a href="{% url "groups" "prendrecours.html" %}" class="underButton linkUsingIframe"><div class="ib"><div class="cell txtPrendreCours"></div></div></a>
			<a href="https://docs.google.com/forms/d/1nNZ4vkz2evBNMm8SR7SCHw-N-qPbwgQYiPHryletXhE/viewform" class="underButton directLink"><div class="ib"><div class="cell txtPrendreCours"></div></div></a>
			<a href="{% url "groups" "plusdinfos.html" %}" class="underButton linkUsingIframe"><div class="ib"><div class="cell txtPlusDInfos"></div></div></a>
			<a href="https://docs.google.com/forms/d/1Nu8qP_sOHuuT89_JjmoeLcM_j6V5pCoZujaPsTOMHeI/viewform" class="underButton directLink"><div class="ib"><div class="cell txtPlusDInfos"></div></div></a>
		</div>
		<div class="contentLayer">
			<div class="slogan editable" id="indexSlogan"></div>
		</div>
	</div>
	{% include "groups/bottom_menu.html" %}
{% endblock %}
