{% extends "groups/base.html" %}

{% load static %}

{% block content %}
	<div class="menuHLayer" id="backButtonHolder">
		<a class="menuItem icon-left-big" href="javascript:window.history.go(-1);"></a>
	</div>
	<div class="menuHLayer">
		<a class="menuItem" href="index.htm?ts=2020-01-30T17:44:05.622Z"><div class="ib"><div class="cell">ACCUEIL</div></div></a>
		<a class="menuItem" href="cours.htm?ts=2020-01-30T17:44:05.622Z"><div class="ib"><div class="cell">INFO SUR LES COURS</div></div></a>
		<a class="menuItem" href="pourquoi.htm?ts=2020-01-30T17:44:05.622Z"><div class="ib"><div class="cell">POURQUOI NOUS</div></div></a>
		<a class="menuItem" href="video.htm?ts=2020-01-30T17:44:05.622Z"><div class="ib"><div class="cell">VIDEO EXPLICATIVE</div></div></a>
		<!-- a class="menuItem" href="stage.htm?ts=2020-01-30T17:44:05.622Z"><div class="ib"><div class="cell">STAGE</div></div></a -->
		<a class="menuItem" href="contact.htm?ts=2020-01-30T17:44:05.622Z"><div class="ib"><div class="cell">CONTACT</div></div></a>
	</div>
	<div class="menuHLayer">
		<div id="buttonsUnderMenu">
			<a href="prendrecours.htm" class="underButton linkUsingIframe"><div class="ib"><div class="cell txtPrendreCours"></div></div></a>
			<a href="https://docs.google.com/forms/d/1nNZ4vkz2evBNMm8SR7SCHw-N-qPbwgQYiPHryletXhE/viewform" class="underButton directLink"><div class="ib"><div class="cell txtPrendreCours"></div></div></a>
			<a href="plusdinfos.htm?ts=2020-01-30T17:44:05.622Z" class="underButton linkUsingIframe"><div class="ib"><div class="cell txtPlusDInfos"></div></div></a>
			<a href="https://docs.google.com/forms/d/1Nu8qP_sOHuuT89_JjmoeLcM_j6V5pCoZujaPsTOMHeI/viewform" class="underButton directLink"><div class="ib"><div class="cell txtPlusDInfos"></div></div></a>
		</div>
	</div>
	<div class="centerText">
		<img src="images/cad02blackBackSmall.png"/>
	</div>
{% endblock %}
