{% extends "groups/base.html" %}

{% load static %}

{% block content %}
	<div class="menuHLayer" id="backButtonHolder">
		<a class="menuItem icon-left-big" href="javascript:window.history.go(-1);"></a>
	</div>
	<div class="menuHLayer">
		<a class="menuItem" href="{% url "groups" "index.html" %}"><div class="ib"><div class="cell">ACCUEIL</div></div></a>
		<a class="menuItem" href="{% url "groups" "cours.html" %}"><div class="ib"><div class="cell">INFO SUR LES COURS</div></div></a>
		<a class="menuItem" href="{% url "groups" "pourquoi.html" %}"><div class="ib"><div class="cell">POURQUOI NOUS</div></div></a>
		<a class="menuItem" href="{% url "groups" "video.html" %}"><div class="ib"><div class="cell">VIDEO EXPLICATIVE</div></div></a>
		<!-- a class="menuItem" href="stage.htm?ts=2020-01-30T17:44:05.622Z"><div class="ib"><div class="cell">STAGE</div></div></a -->
		<a class="menuItem" href="{% url "groups" "contact.html" %}"><div class="ib"><div class="cell">CONTACT</div></div></a>
	</div>
    {% include "groups/menu_hlayer.html" %}
	<div class="centerText">
		<img src="{% static "groups/images/cad02blackBackSmall.png" %}"/>
	</div>
{% endblock %}
