{% extends "groups/base.html" %}

{% load static %}

{% block content %}
	{% include "groups/navbar.html" %}
	{% include "groups/top_ribbon.html" %}
	<div class="hlayer" id="editMenuLayer">
		<a class="underButton editButton" id="downloadAnchor">télécharger le code</a>
		<a href="javascript:cad.prepEdit();" class="underButton editButton" id="editButton">éditer</a>
		<a href="javascript:cad.testEdit();" class="underButton editButton" id="testEditButton">tester</a>
		<a href="javascript:cad.saveEdit();" class="underButton editButton" id="saveButton">sauvegarder</a>
		<a href="javascript:cad.cancelEdit();" class="underButton editButton" id="cancelButton">annuler l'édition</a>
	</div>
	<div class="hlayer" id="content">
		<script src="{% static "groups/scripts/setTextOfPlusdinfos.js" %}" type="text/javascript"></script>
		<div class="leftTitle editable" id="plusTitle"></div>
		<div class="contentLayer leftContent commonFlow editable" id="plusContent"></div>
		<div class="contentLayer editable iframeHolder" id="iframeHolderPlus"></div>
	</div>
	{% include "groups/bottom_menu.html" %}
{% endblock %}
