<div class="hlayer" id="topRibbon">
    <div class="groupInRibbon" id="underButtonsInRibbon">
        <a href="{% url "groups" "prendrecours.html" %}" class="underButton linkUsingIframe"><div class="ib"><div class="cell txtPrendreCours"></div></div></a>
        <a href="https://docs.google.com/forms/d/1nNZ4vkz2evBNMm8SR7SCHw-N-qPbwgQYiPHryletXhE/viewform" class="underButton directLink"><div class="ib"><div class="cell txtPrendreCours"></div></div></a>
        <a href="{% url "groups" "plusdinfos.html" %}" class="underButton linkUsingIframe"><div class="ib"><div class="cell txtPlusDInfos"></div></div></a>
        <a href="https://docs.google.com/forms/d/1Nu8qP_sOHuuT89_JjmoeLcM_j6V5pCoZujaPsTOMHeI/viewform" class="underButton directLink"><div class="ib"><div class="cell txtPlusDInfos"></div></div></a>
    </div>
    <div class="groupInRibbon" id="menuIconHolder">
        <a href="{% url "groups" "menu.html" %}"><span class="icon-menu"/></a>
    </div>
</div>
