{% extends "old_site/base.html" %}
{% load static %}

{% block content %}
<div class="hlayer" id="content">
	<script src="{% static "old_site/scripts/setTextOfIndex.js" %}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var thisDate = new Date();
			var thisMonth = thisDate.getMonth() + 1;
			var thisDay = thisDate.getDate();
		});
	</script>
	<div id="cadSubTitle" class="contentLayer editable"></div>
	<div class="contentLayer centered hideIfLarge">
		<img src="{% static "old_site/images/cad01blackBackTransp.png" %}"/>
	</div>
	<div class="contentLayer">
		<div id="checkeredHolder">
			<div class="checkered">
				<div class="checkeredRow">
					<div class="checkeredCell standOut">
						<h2 class="editable" id="leftCellTitle"></h2>
						<div class="editable" id="leftCellText"></div>
					</div>
					<div class="checkeredCell centered hideIfSmall" id="indexLogoHolder">
						<img src="{% static "old_site/images/cad01blackBackTransp.png" %}"/>
					</div>
				</div>
				<div class="checkeredRow">
					<div class="checkeredCell centered">
						<img src="{% static "old_site/images/readingHighRes.png" %}"/>
					</div>
					<div class="checkeredCell standOut">
						<h2 class="editable" id="rightCellTitle"></h2>
						<div class="editable" id="rightCellText"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contentLayer" id="indexSmallUnderButtons">
		<a href="/bruxelles/prendrecours.htm" class="underButton linkUsingIframe"><div class="ib"><div class="cell txtPrendreCours"></div></div></a>
		<a href="https://docs.google.com/forms/d/1WlXDDVnXEt_gCU6yC7NZCfskyf2yWoGIchxc4XOKX9I/viewform" class="underButton directLink"><div class="ib"><div class="cell txtPrendreCours"></div></div></a>
		<a href="/bruxelles/plusdinfos.htm" class="underButton linkUsingIframe"><div class="ib"><div class="cell txtPlusDInfos"></div></div></a>
		<a href="https://docs.google.com/forms/d/1MNbXNLgCLKgglls0fVrjclXUxt5ohGfPMmP93ofArMA/viewform" class="underButton directLink"><div class="ib"><div class="cell txtPlusDInfos"></div></div></a>
	</div>
	<div class="contentLayer">
		<div class="slogan editable" id="indexSlogan"></div>
	</div>
</div>
{% endblock %}