{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block navlinks %}
<ul class="navbar-nav text-left">
    <li class="nav-item">
        <a href="/administration/" class="nav-link">
            retour
        </a>
    </li>
    <li class="nav-item">
        <a href="/" class="nav-link">
            accueil
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="container-fluid p-0">

    <section class="p-3 p-lg-5 d-flex align-items-center">
        <div id="container">
            <h2 class="mb-2">
                Articles:
            </h2>

            <div class="accordion" id="accordionArticles">
                {% for article in articles %}
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Article{{article.instance.id}}" aria-expanded="false" aria-controls="collapseExample">
                    <h4>{{ article.instance.name }}</h4>
                </button>
                {% endfor %}
                {% for article in articles %}
                    <div class="collapse" data-parent="#accordionArticles" id="Article{{article.instance.id}}">
                        <form method="post">
                            {% csrf_token %}
                            {{ article|crispy }}
                            <button type="submit" class="btn btn-success">Save Article</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <hr class="m-0">

</div>
{% endblock %}
