{% extends 'base.html' %}
{% load static %}

{% block navlinks %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/administration" class="nav-link">retour</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <section class="p-3 p-lg-5 align-items-center">
            <div id="container">

                <h2>Cours donnés</h2>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <ul class="list-group">
                                <li class="list-group-item">Date</li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <ul class="list-group">
                                <li class="list-group-item">Étudiant</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item">Commentaires</li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <ul class="list-group">
                                <li class="list-group-item">Coach</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <ul class="list-group">
                                {% for elem in courses %}
                                <li class="list-group-item">{{ elem.date|date:"d/m/Y - G:i" }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <ul class="list-group">
                                {% for elem in courses %}
                                <li class="list-group-item">{{ elem.student.first_name }} {{ elem.student.last_name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-group">
                                {% for elem in courses %}
                                <li class="list-group-item">{{ elem.comments|safe }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <ul class="list-group">
                                {% for elem in courses %}
                                <li class="list-group-item">{{ elem.coach }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock %}
