{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block navlinks %}
    <ul class="navbar-nav text-left">
        <li class="nav-item">
            <a href="/administration/" class="nav-link">
                retour
            </a>
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link">
                accueil
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <section class="p-3 p-lg-5 d-flex align-items-center">
            <div id="container">
                <h2 class="mb-2">
                    Mails:
                </h2>
                <small>
                    <a href="create/">
                        <i class="fas fa-plus">
                            Créer une template de mail
                        </i>
                    </a>
                </small>
                <hr>

                <div class="accordion" id="accordionMail">
                    {% for mail in mails %}
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Mail{{mail.instance.id}}" aria-expanded="false" aria-controls="collapseExample">
                        <h4>{{ mail.instance.name }}</h4>
                    </button>
                    {% endfor %}
                    {% for mail in mails %}
                    <div class="collapse" data-parent="#accordionMail" id="Mail{{mail.instance.id}}">
                        <form method="post">
                            {% csrf_token %}
                            {{ mail|crispy }}
                            <input type="hidden" name="mailid" value="{{mail.instance.id}}">
                            <button type="submit" class="btn btn-success">Save template</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <hr class="m-0">

    </div>
{% endblock %}
