{% extends 'base.html' %}

{% load static %}

{% block navlinks %}
    <ul class="navbar-nav text-left">
        <li class="nav-item">
            <a href="{% url "home_admin" %}" class="nav-link">
                retour
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url "home" %}" class="nav-link">
                Accueil
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <section class="p-3 p-lg-5 align-items-center">
        <div id="container">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a onclick="switchTo('open')" id="tab-open" class="nav-link active">En cours</a>
                </li>
                <li class="nav-item">
                    <a onclick="switchTo('close')" id="tab-close" class="nav-link">Finis</a>
                </li>
            </ul>
            <br/>
            <div id="Open">
                <h3>Etudiants en attente</h3>
                <ul class="list-group">
                    {% for student_request in opened_student_requests %}
                        {% include "student_request_section.html" %}
                    {% empty %}
                        <h4>Pas de requêtes pour le moment...</h4>
                    {% endfor %}
                </ul>
            </div>

            <div id="Closed" style="display: none;">
                <h3>Requêtes complétées</h3>
                <ul class="list-group">
                    {% for student_request in closed_student_requests %}
                        {% include "student_request_section.html" %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <script>
        const csrfToken = '{{ csrf_token }}';
        const SelectCoachUrl = "{% url 'api:request_select_coach' %}";
    </script>
    <script src="{% static "js/admin/requests.js" %}" ></script>

</div>
{% endblock %}
