{% extends 'base.html' %}

{% load static %}
{% load requests_tags %}

{% block navlinks %}
    <ul class="navbar-nav text-left">
        <li class="nav-item">
            <a href="{% url "home_admin" %}" class="nav-link">
                retour
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url "home" %}" class="nav-link">
                Accueil
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <section class="p-3 p-lg-5 align-items-center">
        <div id="container">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a onclick="switchTo('open')" id="tab-open" class="nav-link active">En cours</a>
                </li>
                <li class="nav-item">
                    <a onclick="switchTo('close')" id="tab-close" class="nav-link">Finis</a>
                </li>
            </ul>
            <br/>
            <div id="Open">
                <h3>Etudiants en attente</h3>
                <ul class="list-group">
                    {% for student_request in student_requests %}
                    <li class="list-group-item">
                        <h4>{{ student_request.student.first_name }} {{ student_request.student.last_name }}</h4>
                        <p>Cherche des cours de:</p>
                        <ul>
                            {% if student_request.student.profile.Maths_course %}
                            <li>Maths</li>
                            {% endif %}
                            {% if student_request.student.profile.Chimie_course %}
                            <li>Chimie</li>
                            {% endif %}
                            {% if student_request.student.profile.Physique_course %}
                            <li>Physique</li>
                            {% endif %}
                            {% if student_request.student.profile.Francais_course %}
                            <li>Francais</li>
                            {% endif %}
                        </ul>
                        <hr>
                        <p>Coaches ayant postulé:</p>
                        <div class="spinner-border" id="spin_{{ student_request.id }}" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div id="total_{{ student_request.id }}">
                            <div class="row col-md-12" id="coaches_{{ student_request.id }}">
                                {% for coach in student_request.coaches.all %}
                                    {% accepted_by_coach student_request coach as accepted %}
                                    {% if accepted %}
                                    <div class="col-xl-4 col-lg-6 col-sm-12">
                                        {% include "request_user_card.html" %}
                                    </div>
                                    {% endif %}
                                {% empty %}
                                <h5>Aucun coach n'a encore accepté cette requête</h5>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    {% empty %}
                    <h4>Pas de requêtes pour le moment...</h4>
                    {% endfor %}
                </ul>
            </div>

            <div id="Closed" style="display: none;">
                <h3>Requêtes complétées</h3>
                <ul class="list-group">
                    {% for student_request in student_requests_closed %}
                    <li class="list-group-item mt-2">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <h4>{{ student_request.student.first_name }} {{ student_request.student.last_name }}</h4>
                                <p>Cherchait des cours de:</p>
                                <p style="font-weight: bold;">{{ student_request.student.profile.courses }}</p>

                                <h6>Horaire de l'étudiant</h6>
                                <textarea class="col-md-12" readonly="readonly">{{ student_request.student.profile.studentaccount.wanted_schedule }}</textarea>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <h4>Horaire final</h4>
                                <textarea class="col-md-12" readonly="readonly" rows=5>{{ student_request.finalschedule }}</textarea>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <h4>Coach sélectionné</h4>
                                {% with coach=student_request.choosenCoach %}
                                    <div class="col-md-12">
                                        {% include "request_user_card_closed.html" %}
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                        <hr>
                        <a data-toggle="collapse" href="#coachesApplied{{ student_request.id }}" role="button" aria-expanded="false" aria-controls="coachesApplied{{ student_request.id }}">
                            Coaches ayant accepté: <i id="fas" class="fas fa-angle-down"></i>
                        </a>
                        <div class="collapse" id="coachesApplied{{ student_request.id }}">
                            <div class="spinner-border" id="spin_{{ student_request.id }}" role="status" style="display: none;">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div id="total_{{ student_request.id }}">
                                <div class="row" id="coaches_{{ student_request.id }}">
                                    {% for coach in student_request.coaches.all %}
                                        {% accepted_by_coach student_request coach as accepted %}
                                        {% if accepted %}
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            {% include "request_user_card_closed.html" %}
                                        </div>
                                        {% endif %}
                                    {% empty %}
                                        Aucun coach trouvé. Cette requête provient probablement d'un choix de coach direct
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <script>
        function showconfirmationmodal(coach_pk, id){
            $('#Detail' + coach_pk + '_' + id).modal('show');
            $('#tobechosen_' + coach_pk + id).css('display', 'block');
        }

        function showdetailmodal(coach_pk, id){
            $('#Detail' + coach_pk + '_' + id).modal('show');
            $('#tobechosen_' + coach_pk + id).css('display', 'none');
        }

        function chooseCoach(coach_pk, id) {

            var finalschedule = $('#schedulefor' + coach_pk + id).val()
            if(finalschedule == ""){
                $('#errorschedule' + coach_pk + id).text("Ce champ est obligatoire");
                $('#errorschedule' + coach_pk + id).css("display", "block");
                return;
            }

            document.getElementById("coaches_" + id).style = "filter: opacity(10%);";
            document.getElementById("spin_" + id).style.display = "block";
            var Url = "{% url 'api:request_select_coach' %}";

            $.post(
                Url, {
                    id: id,
                    coach: coach_pk,
                    schedule: finalschedule,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                function(data, status) {
                    if (status == "success") {
                        document.getElementById("coaches_" + id).style = "filter: opacity(100%);";;
                        document.getElementById("spin_" + id).style.display = "none";

                        var cards = document.getElementsByClassName("card");
                        for (var x = 0; x < cards.length; x++) {
                            if (cards[x].id == "card_" + id + "_" + coach_pk) {
                                cards[x].style = "filter: opacity(100%)";
                                cards[x].getElementsByClassName("choose")[0].style.display = "none";
                            } else if (cards[x].id.search("card_" + id + "_") != -1) {
                                cards[x].style = "filter: opacity(25%)";
                                cards[x].getElementsByClassName("choose")[0].style.display = "none";
                            }
                        }
                    } else {
                        document.getElementById("coaches_" + id).style = "filter: opacity(0%);";
                    }
                }
            );

            $('#Detail' + coach_pk + '_' + id).modal('hide');
        }

        function switchTo(to){
            if (to == "open"){
                document.getElementById("Open").style.display = 'block';
                document.getElementById("Closed").style.display = 'none';
                document.getElementById("tab-close").classList.remove("active");
                document.getElementById("tab-open").classList.add("active");
            }
            else if (to == "close"){
                document.getElementById("Open").style.display = 'none';
                document.getElementById("Closed").style.display = 'block';
                document.getElementById("tab-close").classList.add("active");
                document.getElementById("tab-open").classList.remove("active");
            }
        }
    </script>

</div>
{% endblock %}
