<!DOCTYPE html>
<html lang="fr">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CAD - le premier réseau belge spécialisé en math, chimie, physique et français dès 7,80€/h"/>
    <meta property="og:description" content="CAD - le premier réseau belge spécialisé en math, chimie, physique et français dès 7,80€/h"/>
    <meta property="og:image" content="https://newsite.cadcoursadomicile.com{% static 'img/profile.png' %}">
    <meta property="og:title" content="CAD - Cours à domicile">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://newsite.cadcoursadomicile.com">
    <meta name="author" content="CAD cours a domicile">

    <title>CAD - Choisissez votre ville</title>

    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

    <link href="{% static 'css/cad.min.css' %}" rel="stylesheet">
</head>

<body style="padding-left: 0px !important">
    <div class="container">
        <section class="resume-section d-flex align-items-center" id="home">
            <div class="w-100">
                <h2 class="text-center">Choisissez votre ville</h2>
                <hr class="m-5">
                <div class="row">
                    <div class="row-element col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                        <a class="btn btn-primary col-sm-12 col-xs-12 ol-8" href="{% url "old_site" "index.htm" %}">
                            <h2>BRUXELLES</h2>
                        </a>
                    </div>
                    <div class="row-element col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center h1">
                        <a class="btn btn-primary col-sm-12 col-xs-12 col-8" href="{% url "home" %}">
                            <h2>NAMUR</h2>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

</body>
</html>
