<!DOCTYPE html>
<html lang="fr">

{% load static %}

{% with "Choisissez votre ville" as view_title %}
    {% include "head.html" %}
{% endwith %}

<body style="padding-left: 0px !important">
    <div class="container">
        <section class="resume-section d-flex align-items-center" id="home">
            <div class="w-100">
                <h2 class="text-center">Choisissez votre ville</h2>
                <hr class="m-5">
                <div class="row">
                    <div class="row-element col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                        <a class="btn btn-primary col-sm-12 col-xs-12" href="{% url "old_site" "index.html" %}">
                            <h2>BRUXELLES</h2>
                        </a>
                    </div>
                    <div class="row-element col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center h1">
                        <a class="btn btn-primary disabled col-sm-12 col-xs-12" href="{# url "home" #}">
                            <h2>NAMUR</h2>
                            <small>À partir de septembre</small>
                        </a>
                    </div>
                </div>
                <hr class="m-5">
                <div class="row-element col-12 text-center h1">
                    <a class="btn btn-primary" href="{% url "groups" "index.html" %}">
                        <h2>Cours en groupe</h2>
                        <small>(Dès 7,80€/h)</small> 
                    </a>
                </div>
            </div>
        </section>
    </div>

    {% include "scripts.html" %}
</body>
</html>
