<!DOCTYPE html>
<html lang="fr">

{% load static %}

{% with "Choisissez votre ville" as view_title %}
    {% include "head.html" %}
{% endwith %}

<body style="padding-left: 0px !important">
    <div class="container">
        <div class="row mt-0">
            <div class="row-element col-12 text-center">
                <h2>C.A.D.</h2>
                <h6>soutien scolaire</h6>
                <small>depuis 2005</small>
            </div>
        </div>
        <section class="resume-section d-flex" style="padding-top: 0px !important;min-height:0vh;" id="home">
            <div class="w-100">
                <hr class="mb-5">
                <h2 class="text-center">Cours à domicile</h2>
                <div class="row mb-5">
                    <div class="row-element col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                        <a class="btn btn-primary col-11" href="{% url "old_site" "index.html" %}">
                            <h2>BRUXELLES</h2>
                        </a>
                    </div>
                    <div class="row-element col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center h1">
                        <a class="btn btn-primary col-11" href="{% url "home" %}">
                            <h2>NAMUR</h2>
                        </a>
                    </div>
                </div>
                <hr class="m-5">
                <h2 class="mt-5 text-center">Cours en groupe</h2>
                <div class="row-element col-12 text-center h1">
                    <a class="btn btn-primary col-11" href="{% url "groups" "index.html" %}">
                        <h2>Bruxelles</h2>
                        <small>(Dès 7,80€/h)</small> 
                    </a>
                </div>
            </div>
        </section>
        <div class="row mb-5 mt-0">
            <div class="row-element col-12 text-center">
                <img style="height:35vw;" src="{% static "img/logo.png" %}" alt="logo cad"/>
            </div>
        </div>
    </div>

    {% include "scripts.html" %}
</body>
</html>
